<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>
        ADMIN
    </title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/forms.css">
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <div class="backdrop"></div>
    <header class="main-header">
        <button id="side-menu-toggle">Menu</button>
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="active" href="/admin">Users</a>
                </li>
            </ul>
            <ul class="main-header__item-list">
                    <li class="main-header__item">
                        <a href="/logout">logout</a>
                    </li>
            </ul>
        </nav>
    </header>
    <main>
        <% if (users.length> 0) { %>
            <div class="grid">
                <% for (let user of users) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title">
                                <!-- <%= user.username %> -->
                            </h1>
                        </header>
                        <div class="card__content">
                            <h1 class="product__price">
                                <strong style="text-transform: uppercase">
                                    <%= user.username %>
                                </strong>
                            </h1>
                            <br />
                            <p class="product__description">User Status:
                                <strong
                                    style="text-transform: uppercase; background-color:'  <% if (user.isActive) {  '#4CAF50'} else {'#f50707'} %>'">
                                    <%= user.isActive %>
                            </p></strong>
                            <p class="product__description">
                                <strong style="text-transform: uppercase">
                                    <%= user.email %>
                            </p></strong>
                        </div>
                        <div class="card__actions">
                            <form action="/delete-user" method="POST">
                                <input type="hidden" value="<%= user._id %>" name="userId">
                                <button class="btn danger" type="submit">Delete</button>
                            </form>
                        </div>
                    </article>
                    <% } %>
            </div>
            <% } else { %>
                <h1>No user Found!</h1>
                <% } %>
    </main>




    <script src="/js/main.js"></script>
</body>

</html>