<%- include('../includes/head.ejs') %>
</head>
<%- include('../includes/nav.ejs')%>
    <main class="centered">
        <h1>
            <%= expensive.Purpose %>
        </h1>
        <hr>
        <h2>
            <span>&#8377;</span> <%= expensive.price %>
        </h2>
        <p>
            <%= expensive.description %>
        </p>
        <p><%= expensive.createdOn %></p>
    </main>
    <script src="/js/main.js"></script>
</body>

</html>